.about {
  height: 100vh;
  background-image: url(../assets/mainBackground.png);
}

.aboutContainer {
  padding: 70px 0px;
  color: $secondColor;

  &__text {
    line-height: 2rem;
    font-size: 1rem;
    font-family: $secondFont;
  }

  &__btn {
    display: flex;
    justify-content: flex-end;
  }
  &__link {
    font-family: $gothicFont;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    color:$secondColor;
    padding: 10px;
    margin-left: 50px;
    transition: $transition;
    
    &:hover {
      box-shadow: -1.5px 1.5px 0px 0px $secondColor;
    }
  }
}
