.about {
  background-image: url(../assets/mainBackground.png);
  @include mobile {
    height: auto;
  }
    .wrapper{
    width: 80%;
    max-width: 900px;
  }
}

.aboutContainer {
  padding: 70px 0px;
  color: $secondColor;
  .sectionTitle {
  padding: 30px 0px 70px 0px;
  }
  
  &__text {
    line-height: 2rem;
    font-size: 1.2rem;
    font-family: $secondFont;
    &:nth-of-type(1) {
      margin-bottom: 30px;
    }
    a {
      color: $fourthColor;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
  }
  &__link {
    font-family: $gothicFont;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 300;
    text-transform: uppercase;
    color:$secondColor;
    padding: 10px;
    transition: $transition;
    
    &:hover,&:focus {
      color: lighten($secondColor, 35%);
    }
  }
}
