.contact {
  height: 80vh;
  @include mqTablet {
    height: auto;
      }
  .wrapper {
    height: 100%;
  }
}

.contact__form {
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 50px;
    font-family: $secondFont;
    font-size: 1rem;
    @include mqTablet {
      padding:0 0 50px 0;
      width: 100%;
    }
    button {
      font-family: $gothicFont;
      font-weight: 200;
      font-size: 1rem;
      color: $secondColor;  
      text-transform: uppercase;
      align-self: flex-end;
      background: none;
      border: none;
      padding: 0px;
      margin-top: 50px;
      transition: $transition;
    &:hover,&:focus {
        color: lighten($secondColor, 35%);
      }
    }


}

.contact__input {
  color: $secondColor;
  background: none;
  border: none;
  padding: 10px;
  box-shadow: -1.5px 1.5px 0px 0px $secondColor;

  &:focus {
    box-shadow: 0px 0px 0px 2px $secondColor;
  }
  &::placeholder {
    opacity: 1;
  }
  &--message {
    width: 100%;
    resize: none;
  }
}
.upperForm {
    display: flex;
    flex-direction: row;
    input {
      width: calc(50% - 20px);
      margin: 40px 20px;
      &:nth-of-type(1) {
        margin-left: 0px;
      }
      &:nth-of-type(2) {
        margin-right: 0px;
      }
    }
  }
