.cursorBorder {
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  width: 40px;
  height: 40px;
  border: 2px solid #d4a712;
  transition-duration: 0.7s;
  transition-timing-function: ease-out;
  @include mobile {
    display: none;
  }
}
