ul, li,
h1, h2, 
h3, h4, 
h5, h6,
figure,
p,
span,
  a {
		padding: 0;
		margin: 0;
}

.wrapper {
	margin: auto;
	width: 80%;
}

.about, .portfolio, .skills, .contact {
  background-image: url(../assets/mainBackground.png)
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

h2 {
		font-size: 1.6rem;
		text-transform: uppercase;
		font-family: $gothicFont;
    letter-spacing: 1px;
}