header {
  height: 100vh;
  width: 100%;
  background-image: url('../assets/headerBackground.png');
  text-transform: uppercase;
  font-family: $gothicFont;
  .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}


.nav {
  // position: fixed;
      width: 100%;

    &__list {
      z-index: 10;
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-end;
      @include mqTablet {
        justify-content: center;
      }
        
    }
    
    &__link {
      font-size: 1rem;
      font-weight: 200;
      letter-spacing: 1px;
      color: $secondColor;
      transition: $transition;
        -webkit-text-fill-color: $thirdColor;
      &:hover, &:focus {
        -webkit-text-fill-color: #8f947f;
      }
  }
}

.nav__item {
  // position: fixed;
  margin: 20px 50px;
  @include mqTablet {
    margin: 20px;
  }
  &:nth-of-type(3){
    margin-right: 0px;
    @include mqTablet {
      margin-right: 20px;
    }
} 
}


.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  &__h1, &__h2, &__description, &__link {
    color: $thirdColor;
  }
  &__h1 {
    font-size: 3rem;
    margin-bottom: 50px;
    font-weight: 400;
    @include mobile {
      font-size: 2.3rem;
    }
  }
  &__link {
    position:absolute;
    right: 100px;
    bottom: 100px;
    font-weight: 200;
    font-size: 1rem;
    letter-spacing: 1px;
    transition: $transition;
    @include mobile {
      right: 50px;
      bottom: 50px;
    }
    &:hover, &:focus {
      color: darken($thirdColor, 35%);
      img {
        filter: saturate(10%) opacity(50%);
      }
    }
    img {
      height: 13px;
      transition: $transition;  
    }
  }
  &__h2 {
    letter-spacing: 1px;
    width: 500px;
    font-weight: 200;
    @include mobile {
      width: auto;
      font-size: 1.3rem;
    }
  }
}






