header {
  height: 100vh;
  width: 100%;
  background-image: url('../assets/headerBackground.png');
  text-transform: uppercase;
  font-family: $gothicFont;
  .wrapper {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    @include mobile {
      width: 90%;
    }
  }
}


.nav {
    position: absolute;
    width: 100%;
    &__list {
      z-index: 10;
      width: 80%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      @include mqTablet {
        justify-content: space-between;
      }
      @include mobile {
        justify-content: space-between;
        width: 90%;
      }
    }
    
    &__link {
      font-size: 1rem;
      font-weight: 200;
      letter-spacing: 1px;
      color: $secondColor;
      transition: $transition;
      color: $thirdColor;
      @include mobile {
        font-size: 0.8rem;
      }
      &:hover,
      &:focus {
        color: lighten($thirdColor, 10%);
      }
      &:hover::before,
      &:focus::before {
        opacity: 0.4;
        left: -10px;
        height: 5px;
        }
      &::before {
        content:'';
        position: absolute;
        width:100%;
        height: 10px;
        bottom: -2px;
        left: 5px;
        background: $thirdColor;
        display:inline-block;
        opacity: 0.3;
        transition: $transition;
      }
  }
}

.nav__item {
  margin: 30px 0px;
  @include mqTablet {
    margin: 20px 0px;
  }
  @include mobile {
    margin:20px 0px;
  }
}


.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  @include mobile {
    text-align: center;
  }
  &__h1, &__h2, &__description, &__link {
    color: $thirdColor;
  }
  &__h1 {
    font-size: 3rem;
    margin-bottom: 25px;
    font-weight: 400;
    @include mobile {
      font-size: 2.3rem;
    }
  }
  &__link {
    z-index: 10;
    position:absolute;
    right: 50px;
    bottom: 50px;
    font-weight: 200;
    font-size: 1rem;
    letter-spacing: 1px;
    transition: $transition;
    @include mobile {
      font-size: 0.8rem;
    }
    &:hover,
    &:focus {
      color: #fac820;
      }
    img {
      height: 13px;
      margin-left: 10px;

    }
  }
  &__h2 {
    letter-spacing: 1px;
    width: 500px;
    font-weight: 200;
    line-height: 2.5rem;
    @include mobile {
      width: auto;
      font-size: 1.3rem;
    }
  }
}






