.skills__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
    justify-content:center;
    align-items: center;
}


.skillItem {
    min-width: 20%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: $secondColor;
    margin-bottom: 20px;


    &__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70px;
    height: 65px;
    margin-bottom: 50px;
      i {
        font-size: 4rem;
      }


    }
  }
.svgIcon {
  height: 64px;
  width: 64px;
}

.skillItem__text {
  visibility: hidden;
  &:hover {
    visibility: hidden;
  }
}
