.skills {
  // height: 60vh;
  padding: 40px 0px;
  @include mobile {
    height: auto;
  }
  .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.skills__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}


.skillItem {
  position: relative;
  min-width: 20%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: $secondColor;
  margin-bottom: 20px;
  transition: $transition;
  @include mobile {
    width: 50%;
  }
    &:hover {
      .skillItem__text{
        opacity: 1;
      }
  }
    &__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70px;
    height: 65px;
    margin-bottom: 50px;
      i {
        font-size: 4rem;
      }
    }
  }

.svgIcon {
  height: 64px;
  width: 64px;
}

.skillItem__text {
  opacity: 0;
  font-family: $secondFont;
  font-size: 0.9rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 20px;
  transition: $transition;
}
