$firstColor: #707070;
$secondColor: #69725D;
$thirdColor: #e4e5e0;
$fourthColor:#af890a;

$gothicFont: 'titling-gothic-fb-wide', sans-serif;
$secondFont: 'Inconsolata', monospace;

$transition: ease-in-out 0.2s;