.portfolio {
  font-family: $secondFont;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  img {
    width: 100%;
  }

}

.portfolio__link {
	position: relative;
  font-family: $gothicFont;
  font-weight: 200;
  font-size: 1rem;
  text-transform: uppercase;
  transition: $transition;

}



.portfolio__1, .portfolio__2, .portfolio__3, .portfolio__4 {
  display: flex;
  flex-direction: row;
  padding: 100px 0px;
    @include mqTablet {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .wrapper {
    width: 45%;
    @include mqTablet {
      width: 80%;
    }
    @include mobile {
      width: 100%;
    }
  }
  .imageContainer {
    width: 55%;
    @include mqTablet {
      width: 80%;
    }
    @include mobile {
      width: 100%;
    }
  }
}


.portfolio__1, .portfolio__3 {
  color: $secondColor;
  .portfolio__link {
    color:$secondColor;
    margin-right: 50px;
    @include mqTablet {
      margin: 0px 20px;
    }
        
    &:hover,&:focus {
      color: lighten($secondColor, 35%);
    }
  }
}


.portfolio__2, .portfolio__4 {
  color: $fourthColor;
  text-align: right;
  @include mqTablet {
    text-align: center;
    flex-direction: column-reverse;
  }
  .portfolio__link {
    color:$fourthColor;
    margin-left: 50px;
    @include mqTablet {
      margin: 0px 20px;
    }
        
    &:hover,&:focus {
      color: lighten($fourthColor, 35%);
    }
  }
}

.choice, .neuse, .dine, .restaurant {
  

  &__info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px 50px;

    h3, h4 {
      text-transform: uppercase;
    }
    
    h3 {
      font-size: 1.7rem;
      @include mqTablet {
        margin: 20px 0px;
      }
    }
    p {
      @include mqTablet {
        line-height: 2rem;
        margin: 20px 0px;
      }
    }
  }
}

